<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/styles/who.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>
    <title>Perdão</title>
</head>
<body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bnFjAkAs_q4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <h2 id="Bro"></h2>

    <script>
        Bro = document.getElementById("Bro");

        var typedBro = new Typed("#Bro", {
            strings: ["Por que?^1300 Eu não tava lá…^1000 Você nunca mereceu isso.^1000 Eu não posso te deixar passar.^700 Eu não posso te deixar sozinho.^1000 Eu sempre vou te ver de novo.^300 Sempre vamos estar juntos.^1300 Eu sei que você está em /____________^2000 2:45"],
            typeSpeed: 100,
            backSpeed: 100,
            showCursor: false,
            loop: false,
        })
    </script>
</body>
</html>