<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/styles/who.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;1,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUEM</title>
</head>
<body>
    <form action="/hub" method="post">
        <h1>COMO VOCÊ SABE. QUEM É VOCÊ?</h1>
        <input type="text" name="nome" id="nome">
        <button type="submit">RESPONDA</button>
    </form>
</body>
</html>